In [9]:
#importation de modules
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time


#methode de scrapping 
def scrap_jobs(city , job_title ,nb_post):
    columns = ["city", "job_title", "company_name", "location","summary"]
    sample_df = pd.DataFrame(columns = columns)
    cumul_job_post = []
    for start in range(0, nb_post):
        page = requests.get("http://www.indeed.fr/jobs?q="+job_title+"&l=" + str(city) + "&start=" + str(start))
        URL = "http://www.indeed.fr/jobs?q="+job_title+"&l=" + str(city) + "&start=" + str(start)
        
        time.sleep(1)  #ensuring at least 1 second between page grabs
        soup = BeautifulSoup(page.text, "html.parser", from_encoding="utf-8")
        for div in soup.find_all(name="div", attrs={"class":"row"}):
            
            
            job_post = []
            
            job_post.append(city)
            #grabbing job title
            for a in div.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
                job_post.append(a["title"])
                #grabbing company name
                company = div.find_all(name="span", attrs={"class":"company"}) 

            if len(company) > 0: 
                for b in company:
                    job_post.append(b.text.strip()) 
            else: 
                sec_try = div.find_all(name="span", attrs={"class":"result-link-source"})
                for span in sec_try:
                    job_post.append(span.text)
                    
            c = div.findAll("span", attrs={"class": "location"})
            d = div.findAll("span", attrs={"class": "summary"}) 
            
            for spanc , spand in zip(c , d):
                try:
                    job_post.append(spanc.text)
                    job_post.append(spand.text.strip())
                except :
                    job_post.append(city)
                    job_post.append("none")#
                    
                
                cumul_job_post.append(job_post)
                
    
    sample_df["city"] = list(map(lambda x : x[0] , cumul_job_post))
    sample_df["job_title"] = list(map(lambda x : x[1] , cumul_job_post))
    sample_df["company_name"] = list(map(lambda x : x[2] , cumul_job_post))
    sample_df["location"] = list(map(lambda x : x[3] , cumul_job_post))
    sample_df["summary"] = list(map(lambda x : x[4] , cumul_job_post))
                
                
    return sample_df
            
                                
max_results_per_city = 5

print("dans quelle ville voulez-vous effectuer votre recherche?")
city = input()

print("quel métier voulez-vous chercher?")
job_title = input()
intitule = job_title

print("combien de d offres voulez-vous voir?")
nb_post = input()
nb_post = int(nb_post)

if len(job_title.split(" ")) > 1 :
    job_title_decompose = job_title.split(" ")
    job_title = str(job_title_decompose[0]) +"+"+ str(job_title_decompose[1])

df = scrap_jobs(city , job_title , nb_post)
df
#path = "C:/Users/jlyongwe/Desktop/job_scrapping_"+intitule+"_"+city+".csv"
#df.to_csv(path , sep = ";")

dans quelle ville voulez-vous effectuer votre recherche?

 lyon

quel métier voulez-vous chercher?

 data analyst

combien de d offres voulez-vous voir?

 3

/srv/conda/lib/python3.6/site-packages/bs4/__init__.py:179: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

,city,job_title,company_name,location,summary
0,lyon,data analyst,The Adecco Group,Lyon (69),Travailler sur les datas commerciaux :. Vous ê...
1,lyon,Marketing Data Analyst - Blédina (h/f),DANONE,Limonest (69),"FRB - Blédina,a subsidiary of Danone, is looki..."
2,lyon,Business Analyst / Data manager (H/F),Merck KGaA,Lyon (69),Votre rôle : Au sein de la Direction des Opéra...
3,lyon,Conseiller en charge de l'analyse et de l'opti...,CAF DU RHONE,Lyon (69),Un profil de type data analyst ou data scienti...
4,lyon,Chargé de Statistiques – Data analyste H/F,AplusA,Lyon (69),CDD temps plein | salaire : | DESCRIPTION D’EN...
5,lyon,Master Data Analyst,WITRON Group,Villette-d'Anthon (38),Votre mission Le spécialiste MasterData est re...
6,lyon,BUSINESS ANALYST H/F,The Adecco Group,Villeurbanne (69),Des connaissances en data mining ou en program...
7,lyon,MEDIA TRADER et DATA ANALYST,ADTHINK,Tassin-la-Demi-Lune (69),Description du posteAfin de compléter notre tr...
8,lyon,Project Analyst I,Icon plc,Lyon (69),Approvals from the national authorities for da...
9,lyon,Chargée de projets Data & Portfolio H/F,NAOS groupe,Lyon (69),Minimum 3 ans d'expérience en tant que Marketi...
10,lyon,Chargé de projets Data & Portfolio F/H,NAOS,Lyon 3e (69),3 ans d'expérience minimum en tant que Marketi...
11,lyon,Data Engineer H/F,Econocom,Lyon (69),"En tant que Data Engineer, vous contribuerez a..."
12,lyon,Data engineer,MALT,Lyon (69),Technologies big data (hadoop/Spark/Hive/prest...
13,lyon,Senior Data Analyst,BANDAI NAMCO,Lyon (69),Manage the activity of a Junior Data Analyst. ...
14,lyon,"FP&A Analyst, Lyon H/F",Orexad,Lyon (69),Ensures financial data and analysis are reliab...
15,lyon,"Business Analyst (H/F) - St Bonnet de Mure, Fr...",Mersen,Saint-Bonnet-de-Mure (69),Vous maîtrisez parfaitement Excel et avez des ...
16,lyon,analyste informatiquee informatique BI / DATA,Siderlog Atlantique,Lyon (69),Décisionnel et Big Data. Pour renforcer nos éq...
17,lyon,Senior Project Analyst,Icon plc,Lyon (69),Senior Project Analyst. We are looking for a S...
18,lyon,ANALYSTE (F/H),alteca,Lyon (69),"Nos métiers conduite de projet, agilité, AMOA,..."
19,lyon,Developpeur Talend BIG DATA H/F,LDLC,Limonest (69),Collaborer avec des équipes projet multidiscip...
20,lyon,Chargé de projets Data & Portfolio F/H,NAOS,Lyon 3e (69),3 ans d'expérience minimum en tant que Marketi...
21,lyon,Data Engineer H/F,Econocom,Lyon (69),"En tant que Data Engineer, vous contribuerez a..."
22,lyon,Data engineer,MALT,Lyon (69),Technologies big data (hadoop/Spark/Hive/prest...
23,lyon,Senior Data Analyst,BANDAI NAMCO,Lyon (69),Manage the activity of a Junior Data Analyst. ...
24,lyon,"FP&A Analyst, Lyon H/F",Orexad,Lyon (69),Ensures financial data and analysis are reliab...
25,lyon,"Business Analyst (H/F) - St Bonnet de Mure, Fr...",Mersen,Saint-Bonnet-de-Mure (69),Vous maîtrisez parfaitement Excel et avez des ...
26,lyon,analyste informatiquee informatique BI / DATA,Siderlog Atlantique,Lyon (69),Décisionnel et Big Data. Pour renforcer nos éq...
27,lyon,Senior Project Analyst,Icon plc,Lyon (69),Senior Project Analyst. We are looking for a S...
28,lyon,ANALYSTE (F/H),alteca,Lyon (69),"Nos métiers conduite de projet, agilité, AMOA,..."
29,lyon,Developpeur Talend BIG DATA H/F,LDLC,Limonest (69),Collaborer avec des équipes projet multidiscip...